.custom-modal {
    @extend %center-flex, %fixed-fill;

    z-index: $zindex-fixed;
}

.custom-modal__overlay {
    @extend %absolute-fill;

    background-color: rgba($color-base, 0.9);
}

.custom-modal__content {
    @extend .d-flex, .flex-column;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    border-top: $border-width solid $border-color;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    max-height: 95vh;
    height: 100%;

    @include media-breakpoint-up(lg) {
        max-height: 90vh;
        height: auto;
    }
}

.custom-modal__form,
.custom-modal__body {
    @extend .d-flex, .flex-column, .flex-grow-1;
}

.custom-modal__header {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
    background-color: $primary;
}

.custom-modal__close {
    .icon {
        color: rgba($white, 0.7);
        transition: color 200ms ease;
    }

    &:hover .icon,
    &:focus .icon {
        color: $white;
    }
}
