.review {
    --marker-size: 20;

    .review__image {
        &:hover {
            cursor: url('../img/icons/cursor_comment.svg'), pointer;
        }
    }

    .review__interaction {
        position: absolute;
        top: calc(var(--y) * 1%);
        left: calc(var(--x) * 1%);
    }

    .review__marker {
        --size: var(--marker-size);

        @extend %center-flex;

        border: 3px solid $white;
    }

    .review__box {
        top: var(--top);
        left: var(--left);
    }
}
