@each $size in $icon-sizes {
    .icon--#{$size} {
        width: px-to-rem($size);
        height: px-to-rem($size);
    }
}

.icon {
    @extend %center-flex;

    flex-shrink: 0;
}

.icon--reversed {
    transform: scaleX(-1);
}

.icon-wrapper {
    @extend .rounded-circle;
    @extend %center-flex;

    width: calc(var(--size, 22) * 1px);
    height: calc(var(--size, 22) * 1px);
    background-color: var(--theme);

    @each $color, $theme in $alert-themes {
        &--#{$color} {
            --theme: #{rgba($theme, $opacity-level)};
            --theme-active-border: #{rgba($theme, $opacity-level-active-border)};
            --theme-active-background: #{rgba($theme, $opacity-level-active-background)};
        }
    }

    &--hsl {
        --theme-active-border: Hsl(var(--theme), #{$opacity-level-active-border}); /* stylelint-disable-line function-name-case */
        --theme-active-background: Hsl(var(--theme), #{$opacity-level-active-background}); /* stylelint-disable-line function-name-case */

        background-color: Hsl(var(--theme), #{$opacity-level}); /* stylelint-disable-line function-name-case */
        color: Hsl(var(--theme)); /* stylelint-disable-line function-name-case */
    }
}

.icon-wrapper--interactive {
    border: $border-width solid transparent;
    transition: border-color 200ms ease, background-color 200ms ease;

    &:hover,
    &:focus {
        border-color: var(--theme-active-border);
    }

    &:active {
        background-color: var(--theme-active-background);
    }
}
