.box {
    @extend %center-flex, %absolute-fill;

    z-index: $zindex-fixed;
}

.box__content {
    @extend .d-flex, .flex-column, .overflow-hidden;

    background-color: $primary;
    border-radius: $border-radius;
    z-index: $zindex-fixed;
    width: 450px;
    height: 520px;
}

.box__body {
    @extend .flex-grow-1;
}

.box-overlay {
    @extend %absolute-fill;

    background-color: rgba($color-base, 0.75);
}
