/**
 * Primary nav
 *
 */

.nav--primary {
    margin-right: -$nav-link-padding-x;
    margin-left: -$nav-link-padding-x;

    .nav-text {
        margin-right: 5px;
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    // Root nav items

    > .nav-item {
        > .nav-link {
            text-decoration: none;
            color: $color-base;

            // Hover state

            &:hover {
                color: tint($color-base, 80%);
            }
        }
    }
}
