/**
 * Primary nav
 *
 */

.nav--primary {
    .nav-text {
        position: relative;
        margin-right: 5px;
        margin-left: 5px;
        text-transform: uppercase;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:after {
            content: "";
            position: absolute;
            top: calc(100% + 3px);
            left: 0;
            right: 0;
            height: 1px;
            background-color: $white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 350ms ease;
        }
    }

    // Root nav items

    > .nav-item {
        > .nav-link {
            text-decoration: none;
            color: $white;
            padding: 0 spacer(2);

            // Hover state

            &:hover .nav-text:after,
            &.active .nav-text:after {
                transform: unset;
                transform-origin: left;
            }
        }
    }
}
