
###> symfony/framework-bundle ###
.idea
/.env
/.env.local
/.env.test
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploads/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> VSCODE ###
.vscode
###< VSCODE ###
