.editable {
    .editable__toggle {
        opacity: 0;
        visibility: hidden;
        transition: all 200ms ease;

        .is-selected & {
            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover,
    &:focus {
        .editable__toggle {
            opacity: 1;
            visibility: visible;
        }
    }
}
