{% extends 'base/projects.html.twig' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <main class="main-content">
        {% include "elements/background.html.twig" with {
            background_classes: ['background--blur background--blur-primary']
        } %}
        <section class="pane">

        </section>
    </main>
{% endblock %}
