{% extends 'base/default.html.twig' %}

{% block title %}Signup{% endblock %}

{% block content %}
    <main class="main-content">
        {% include "elements/background.html.twig" %}
        <section class="pane">
            <div class="pane__panel panel panel--login">
                <div class="panel__body">
                    <h1 class="text-uppercase text-white mb-0">Sign up</h1>
                    <p class="text-muted--70 text-white">Sign up with your e-mail and password</p>
                    <form class="panel__form form mt-7">
                        <div class="row gutters-2">
                            <div class="col-12">
                                <label class="sr-only" for="login-email">Email</label>
                                <input type="email" class="form-control" id="login-email" placeholder="Email" required>
                            </div>
                            <div class="col-md-6">
                                <label class="sr-only" for="login-password">Password</label>
                                <input type="password" class="form-control" id="login-password" placeholder="Password" required data-parsley-equalto="#login-confirm-password">
                            </div>
                            <div class="col-md-6">
                                <label class="sr-only" for="login-confirm-password">Confirm password</label>
                                <input type="password" class="form-control" id="login-confirm-password" placeholder="Confirm password" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-white btn-block mt-4">
                            <span class="btn__text">Sign up</span>
                        </button>
                        <a href="/" class="btn btn-link text-md-right btn-block mt-4 mt-md-7">
                            <span class="btn__text text-white">
                                <span class="text-muted--70">Already have an account?</span>
                                <span class="ml-1 font-weight-normal">Log in</span>
                            </span>
                        </a>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
