/**
 * Main header
 *
 */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-fixed;
}

.main-header--projects {
    @extend .position-relative;
    @extend .pt-3, .pt-lg-12;
}

.main-header__wrapper {
    @extend .pb-3;

    border-bottom: $border-width solid rgba($white, 0.2);
}
