{% extends 'base/projects.html.twig' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="pane py-5 py-lg-10">
            <div class="container-fluid">
                <div id="projectOverview">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
