{% extends 'base/projects.html.twig' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <main class="main-content">
        {% include "elements/background.html.twig" with {
            background: 'background-projects.jpg',
            retina_background: 'background-projects@2x.jpg'
        } %}
        <section class="pane py-5 py-lg-10 position-relative">
            <div class="container">
                <h1 class="h5 text-white mb-6">Projects</h1>
                <div id="projectOverview">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
