.dropzone {
    flex-grow: 1;

    &:focus {
        outline: none;
    }

    .dropzone {
        cursor: pointer;
    }
}

.dropzone__image {
    @extend .w-100, .h-100, .rounded, .border;

    @include object-fit(cover);
}

.dropzone__container {
    position: relative;
    aspect-ratio: 5/6; /* stylelint-disable-line property-no-unknown */

    .dropzone__image-delete {
        --dimensions: 50px;

        @extend %center-flex, %transform-center;

        position: absolute;
        width: var(--dimensions);
        height: var(--dimensions);
        border: $border-width solid transparent;
        border-radius: 50%;
        background-color: rgba($danger, $opacity-level);
        z-index: $zindex-popover;
        transition: border-color 200ms ease;

        @include media-breakpoint-up(lg) {
            opacity: 0;
            visibility: hidden;
            transition: border-color 200ms ease, opacity 200ms ease, visibility 200ms ease;
        }

        &:focus,
        &:hover {
            border-color: rgba($danger, $opacity-level-active);
        }
    }

    @include media-breakpoint-up(lg) {
        &:hover,
        &:focus {
            .dropzone__image-delete {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
