.dropzone {
    flex-grow: 1;
    min-height: 65vh;

    &:focus {
        outline: none;
    }

    .dropzone {
        cursor: pointer;
    }
}

.dropzone__image {
    @extend .w-100, .h-100, .rounded, .border;

    @include object-fit(cover);
}

.dropzone__container {
    position: relative;
    aspect-ratio: 5/6; /* stylelint-disable-line property-no-unknown */

    .dropzone__image-delete {
        @extend %absolute-fill;
        @extend .w-100, .rounded-0;

        background-color: transparent;
        transition: background-color 200ms ease;
    }

    .dropzone__image-delete-icon {
        border: $border-width solid transparent;
        opacity: 0;
        visibility: hidden;
        transition: border-color 200ms ease, opacity 200ms ease, visibility 200ms ease;
    }

    &:hover,
    &:focus {
        .dropzone__image-delete {
            background-color: rgba($color-base, 0.6);
        }

        .dropzone__image-delete-icon {
            opacity: 1;
            visibility: visible;
            border-color: rgba($danger, $opacity-level-active-border);
        }
    }
}

.dropzone__overlay {
    @extend %fixed-fill, %center-flex;

    background-color: rgba($color-base, 0.8);
    z-index: $zindex-fixed;
}
