/**
 * Text
 *
 */

.text-translucent {
    opacity: 0.6;
}

.text--xs {
    font-size: $font-size-xs !important;
}

.text--sm {
    font-size: $font-size-sm !important;
    line-height: $line-height-sm !important;
}

.text--md {
    font-size: $font-size-md !important;
}

.text--lg {
    font-size: $font-size-lg !important;
    line-height: $line-height-lg !important;
}

.text--xl {
    font-size: $font-size-xl !important;
}

.text-decoration-underline {
    text-decoration: underline;
}

// Brand text colors

@each $brand, $color in $brand-colors {
    .text-#{$brand} {
        color: $color;

        @at-root {
            a#{&}:hover {
                color: darken($color, 10%);
            }
        }
    }
}

// Opacity levels

@each $level, $percentage in $opacityLevels {
    .text-muted--#{$level} {
        opacity: $percentage;
    }
}

// Adjacent text

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $size, $length in $spacers {
            .text-adjacent#{$infix}-#{$size} {
                &:not(:first-child) {
                    margin-left: ($length * 0.25);
                }

                &:not(:last-child) {
                    margin-right: ($length * 0.25);
                }
            }
        }
    }
}
