/**
 * Logo
 *
 */

.logo {
    display: inline-block;
    color: $white;

    @include media-breakpoint-up(md) {
        color: $color-base;
    }
}

.logo__link {
    display: block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.logo__title {
    font-size: px-to-rem(30);
    line-height: 47px;

    @include media-breakpoint-up(lg) {
        font-size: px-to-rem(40);
    }
}

.logo__subtitle {
    font-size: px-to-rem(16);
    line-height: 24px;

    @include media-breakpoint-up(lg) {
        font-size: px-to-rem(20);
    }
}
