/**
* Base
*
*/

html {
    font-size: 1rem;
}

body,
button,
input,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s;
}

[href^="tel:"],
[href^="tel:"]:hover {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

dl,
ol,
ul,
form,
table {
    @extend .vr;
}

label[for] {
    cursor: pointer;
}

p {
    &:empty {
        display: none;
    }
}

table {
    width: 100%;
    empty-cells: show;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    text-transform: uppercase;
}

hr {
    margin: 0;
    border: $border-width solid $border-color;
}
