.pane {}

.pane__background {
    @extend .w-100, .h-100;
}

.pane__background--overlay {
    position: relative;

    &:after {
        @extend %absolute-fill;

        content: "";
        background: linear-gradient(to top, rgba($black, 0.5), rgba($black, 0));
    }
}

.pane__background-image {
    @extend .w-100, .h-100;

    object-fit: cover;
}
