<header class="main-header main-header--projects">
    <div class="container">
        <div class="main-header__wrapper d-flex align-items-end">
            <div class="main-header__logo logo">
                <a class="logo__link text-reset" href="/" title="Parallel Dashboard">
                    <h2 class="logo__title text-uppercase text-white mb-0">Parallel</h2>
                    <p class="logo__subtitle text-uppercase text-white font-weight-light mt-n1">Dashboard</p>
                </a>
            </div>
            <div class="main-header__nav ml-auto">
                <ul class="nav nav--primary">
                    <li class="nav-item">
                        <a href="/settings" title="Settings" class="nav-link">
                            <span class="nav-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
