<header class="main-header">
    <div class="container-fluid px-5 pt-5 px-lg-6 pt-lg-6 px-xl-12 pt-xl-12">
        <div class="main-header__logo logo">
            <a class="logo__link text-reset" href="/" title="Parallel Dashboard">
                <h2 class="logo__title text-uppercase mb-0">Parallel</h2>
                <p class="logo__subtitle text-uppercase font-weight-light mt-n1">Dashboard</p>
            </a>
        </div>
    </div>
</header>
