.popover {
    @extend %center-flex, %fixed-fill;

    z-index: $zindex-popover;
}

.popover__overlay {
    @extend %absolute-fill;

    background-color: rgba($primary, 0.75);
}

.popover__content {
    @extend .d-flex, .flex-column;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-base;
    border-top: $border-width solid $border-color;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    max-height: 95vh;
    height: 100%;

    @include media-breakpoint-up(lg) {
        max-height: 80vh;
    }
}

.popover__form,
.popover__body {
    @extend .d-flex, .flex-column, .flex-grow-1;
}

.popover__header {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
    background-color: $color-base;
}

.popover__close {
    .icon {
        color: rgba($white, 0.7);
        transition: color 200ms ease;
    }

    &:hover .icon,
    &:focus .icon {
        color: $white;
    }
}
