.popover {
    @extend %center-flex, %fixed-fill;

    z-index: $zindex-popover;
}

.popover__overlay {
    @extend %absolute-fill;

    background-color: rgba($primary, 0.75);
}

.popover__content {
    position: relative;
    background-color: #242424;
    border: $border-width solid rgba($white, 0.2);
}

.popover__header {
    border-bottom: $border-width solid rgba($white, 0.2);
}
