// Card

.card {
    transition: transform 200ms ease;
    transform-origin: center;

    &:before {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        content: '';
        border: $border-width solid $secondary;
        border-radius: $border-radius;
        opacity: 0;
        transition: transform 200ms ease, opacity 200ms ease;
        pointer-events: none;
    }

    &:hover:before {
        opacity: $opacity-level;
    }
}

.card--link {
    @extend .text-reset, .text-decoration-none;
}

.card-body {
    @extend .pt-3, .px-4, .pb-4;
}

.card__image {
    @extend %center-flex;

    aspect-ratio: 1/1; /* stylelint-disable-line property-no-unknown */

    .card-img-top {
        aspect-ratio: 1/1; /* stylelint-disable-line property-no-unknown */

        @include object-fit(cover);
    }

    &.has-overlay {
        position: relative;

        &:after {
            @extend %absolute-fill;

            content: "";
            background: linear-gradient(to top, rgba($black, 0.7), rgba($black, 0));
        }
    }
}

// Horizontal card

.card-horizontal-img {
    @include object-fit(cover);

    flex: 0 0 auto;
    width: auto;
}

@each $theme, $color in $theme-colors {
    .card--#{$theme} {
        background-color: $color;
    }
}
