.bar {
    @extend .border, .py-5;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $primary;
}

.bar__list {
    .list__item:not(:last-child) {
        @extend .mr-3, .pr-3;

        border-right: $border-width solid $border-color;
    }
}
