.alert--notification {
    --icon-size: 22px;

    @extend .bg-primary, .text-white, .border, .rounded;
    @extend .flex-column, .align-items-baseline;

    width: 100%;

    @include media-breakpoint-up(lg) {
        width: 375px;
    }

    .alert__icon-wrapper {
        @extend %center-flex;
        @extend .rounded-circle;

        width: var(--icon-size);
        height: var(--icon-size);

        @each $color, $theme in $alert-themes {
            &--#{$color} {
                background-color: rgba($theme, 0.2);
            }
        }
    }

    .alert__message {
        margin-left: calc(#{var(--icon-size)} + #{spacer(2)});
    }
}
