.alert {
    @extend .d-flex, .align-items-center;
    @extend .m-0;

    opacity: 0;
    transform: translateY(100%);
    animation: pop-in 350ms 350ms 1 cubic-bezier(0.83, 0, 0.17, 1) forwards;
}

$alert-themes: (
    'warning': $warning,
    'danger': $danger,
    'success': $success,
);

@each $color, $theme in $alert-themes {
    .alert-#{$color} {
        background-color: $theme;
        border-color: $theme;
        color: $white;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: unset;
    }
}
