.panel--login {
    @extend .justify-content-center;

    background-color: rgba($color-base, 0.9);

    @include media-breakpoint-up(md) {
        background-color: $color-base;
    }

    @include media-breakpoint-up(lg) {
        right: 0;
        left: auto;
        width: 560px;
    }

    .panel__body {
        @extend .p-5, .p-md-8, .px-lg-16;
        @extend %scroll-auto, .w-100;
    }
}
