.user {
    position: relative;
}

.user__image {
    --dimensions: #{px-to-rem(25)};

    width: var(--dimensions);
    height: var(--dimensions);

    @include object-fit(cover);

    &--initials {
        @extend %center-flex;

        font-family: $font-family-base;
        font-size: px-to-rem(12);
        border: $border-width solid $border-color;
        color: $white;
        transition: border-color 200ms ease;
    }
}

.user__leader {
    @extend %center-flex;

    $dimensions: 12px;

    position: absolute;
    top: -2px;
    left: -2px;
    height: $dimensions;
    width: $dimensions;
    background-color: $black;
    border-radius: 50%;
}

.user--lg {
    .user__image {
        --dimensions: #{px-to-rem(30)};
    }

    .user__image--initials {
        font-size: px-to-rem(14);
    }
}

.user--add {
    &:hover .user__image--initials {
        border-color: $white;
    }
}
