:root {
    --avatar-dimensions: 28px;
    --status-dimensions: 12px;
}

.user {
    position: relative;
}

.user__avatar {
    @extend %center-flex;
    @extend .position-relative;

    width: var(--avatar-dimensions);
    height: var(--avatar-dimensions);
    color: var(--theme);

    &:before,
    &:after {
        @extend %absolute-fill;

        content: "";
        border-radius: 50%;
        transition: border-color 150ms ease;
        pointer-events: none;
    }

    &:before {
        background-color: var(--theme);
        opacity: $opacity-level;
    }

    &:after {
        border: $border-width solid transparent;
        opacity: $opacity-level-active;
    }
}

.user__image {
    @include object-fit(cover);
}

.user__initials {
    @extend %center-flex;

    font-family: $font-family-base;
    font-size: calc(var(--avatar-dimensions) * 0.4);
    color: var(--theme);
}

.user__status {
    @extend %center-flex;

    position: absolute;
    top: calc(var(--status-dimensions) / 4 * -1);
    left: calc(var(--status-dimensions) / 4 * -1);
    height: var(--status-dimensions);
    width: var(--status-dimensions);
    border-radius: 50%;
}

.user__status-icon {
    width: calc(var(--status-dimensions) / 2);
    height: calc(var(--status-dimensions) / 2);
}

.user__status--leader {
    background-color: $black;
}

.user--lg {
    --avatar-dimensions: 30px;
    --status-dimensions: 16px;
}

.user--xl {
    --avatar-dimensions: 40px;
    --status-dimensions: 20px;
}
