:root {
    --avatar-dimensions: 26px;
    --status-dimensions: 12px;
}

.user {
    position: relative;
}

.user__avatar {
    width: var(--avatar-dimensions);
    height: var(--avatar-dimensions);

    @include object-fit(cover);

    &--initials {
        @extend %center-flex;

        font-family: $font-family-base;
        font-size: calc(var(--avatar-dimensions) * 0.4);
        border: $border-width solid $border-color;
        transition: border-color 200ms ease;
    }
}

.user__status {
    @extend %center-flex;

    position: absolute;
    top: calc(var(--status-dimensions) / 4 * -1);
    left: calc(var(--status-dimensions) / 4 * -1);
    height: var(--status-dimensions);
    width: var(--status-dimensions);
    border-radius: 50%;
}

.user__status-icon {
    width: calc(var(--status-dimensions) / 2);
    height: calc(var(--status-dimensions) / 2);
}

.user__status--leader {
    background-color: $black;
}

.user__status--delete {
    position: absolute;
    left: auto;
    right: -2px;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, visibility 200ms ease;

    .user:hover & {
        opacity: 1;
        visibility: visible;
    }
}

.user--lg {
    --avatar-dimensions: 30px;
    --status-dimensions: 16px;
}

.user--xl {
    --avatar-dimensions: 40px;
    --status-dimensions: 20px;
}

.user--add {
    &:hover .user__avatar--initials {
        border-color: $white;
    }
}
